.actions .shiki {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}

.shiki {
  &:not(:has(.actions), .actions *) {
    background-color: var(--bolt-elements-messages-code-background) !important;
  }
}
